.ued-tree-tit.index-module_title__2-3X7 {
    font-size: 16px;
    padding: 15px 25px;
    width: 286px;

}

.ued-tree-tit.index-module_title__2-3X7:hover {
    color: #1890ff;
    box-shadow: 2px 2px 2px 2px;
}

.ued-tree-tit.index-module_title__2-3X7:focus {
    background: #e6f7ff;
    box-shadow: 2px 2px 2px 2px;
}

span.pcfactory-tree-switcher.pcfactory-tree-switcher-noop {
    width: 0px;
}

.View_View_498879 {
    background: white !important;
}

.View_View_498879:hover {
    color: #1890ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879:focus {
    background: #e6f7ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879:active {
    box-shadow: -2px -2px 2px inset !important;
}

span.Text_Text_186474:hover {
    color: #1890ff !important;
    cursor: pointer !important;
}

span.Text_Text_186474:active {
    color: #1890ff !important;
}



.View_View_498879_8385808_149117 {
    background: white !important;
}

.View_View_498879_8385808_149117:hover {
    color: #1890ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808_149117:focus {
    background: #e6f7ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808_149117:active {
    box-shadow: -2px -2px 2px inset !important;
}

span.Text_Text_186474_6846564:hover {
    color: #1890ff !important;
    cursor: pointer !important;
}

span.Text_Text_186474_6846564:active {
    color: #1890ff !important;
}

 


.View_View_498879_8385808 {
    background: white !important;
}

.View_View_498879_8385808:hover {
    color: #1890ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808:focus {
    background: #e6f7ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808:active {
    box-shadow: -2px -2px 2px inset !important;
}


.View_View_498879_8385808_198682 {
    background: white !important;
}

.View_View_498879_8385808_198682:hover {
    color: #1890ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808_198682:focus {
    background: #e6f7ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808_198682:active {
    box-shadow: -2px -2px 2px inset !important;
}

span.Text_Text_186474_6846564_992519:hover {
    color: #1890ff !important;
    cursor: pointer !important;
}

span.Text_Text_186474_6846564_992519:active {
    color: #1890ff !important;
}

span.Text_Text_186474_6846564_3701038:hover {
    color: #1890ff !important;
    cursor: pointer !important;
}

span.Text_Text_186474_6846564_3701038:active {
    color: #1890ff !important;
}


.ued-card .ued-card-title {
    word-break: break-word;
    min-height: 20px;
    white-space: pre-wrap;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgb(28, 36, 46);
}





.ued-card .pcfactory-card-head {
    position: relative;
    padding: 0 20px;
    width: 105px;
}

.ued-card .pcfactory-card-head>.pcfactory-card-head-wrapper>.pcfactory-card-head-title {
    padding: 12px 0px 0px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 4px #f5a623 solid;
}

.pcfactory-card-head {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    border-bottom: 0px solid #fff;
    border-radius: 4px 4px 0 0;
}


.pcfactory-card-head-title {
    display: inline-block;
    flex: 1;
    padding: 16px 0;
    overflow: unset;
    white-space: nowrap;
    text-overflow: unset;
}







.View_View_498879_8385808_149117_718422 {
    background: white !important;
}

.View_View_498879_8385808_149117_718422:hover {
    color: #1890ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808_149117_718422:focus {
    background: #e6f7ff !important;
    box-shadow: 2px 2px 2px 2px !important;
}

.View_View_498879_8385808_149117_718422:active {
    box-shadow: -2px -2px 2px inset !important;
}

span.Text_186474_6846564_3701038_6425333:hover {
    color: #1890ff !important;
    cursor: pointer !important;
}

span.Text_186474_6846564_3701038_6425333:active {
    color: #1890ff !important;
}